* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//COLORS
$background-color-grey: #F3F0EB;
$background-color-white: #fff;
$button-color-green: #6a8858;
$text-grey: #282934;

$font: 'Jost', sans-serif;